Flask==3.1.0
pyodbc
openai
pandas
cffi
click
colorama
cryptography
distlib
filelock
itsdangerous
Jinja2
MarkupSafe
packaging
platformdirs
pycparser
pycryptodome
PyMySQL
virtualenv
Werkzeug
build
setuptools
gunicorn
blinker
numpy
# Include other libraries you need or that appear in your zipped code
